* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}
/* start header */

header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.596);
}
.header__content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

.header__logo i,
.header__logo span {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin: 0 10px;
}

header .nav a {
  transition: 0.3s;
  margin-right: 40px;
  font-size: 1.7rem;
}
header .nav a:hover,
.nav .active {
  color: #e62b4a;
}
/* end header */

/* start carousel */
.carousel {
  height: 80vh;
  background-image: url(../image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__content {
  width: 50%;
  /* border: 3px solid orangered; */
  text-align: center;
  color: white;
}

.carousel__content p {
  font-size: 2.5rem;
}

.carousel__content h2 {
  font-size: 7.5rem;
  margin: 10px 0;
}

.carousel__content button {
  padding: 15px 25px;
  background-color: #e62b4a;
  border: none;
  color: white;
  transition: 0.3s;
}

.carousel__content button:hover {
  background-color: #af2239;
  cursor: pointer;
}

.carousel .animation__icon i {
  font-size: 2rem;
  animation-name: animationTranslate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* animation */
@keyframes animationTranslate {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* end carousel */

/* start service */
.service {
  background-color: black;
  padding: 70px 0;
}

.service__content {
  color: white;
  width: 80%;
  margin: 0 auto;

  text-align: center;
}

.tilte p:first-child {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #e62b4a;
}

.tilte h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.tilte p:last-child {
  font-size: 1.8rem;
  word-spacing: 3px;
  margin-top: 20px;
  color: #888888;
  font-weight: 500;
}

.service__slider {
  margin-top: 20px;
}

.service__slider .slider__item {
  background-color: white;
  color: #888888;
  width: 20%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
}

.service__slider .slider__item::after {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  top: 0;
  right: 0;
  transition: all 0.2s;
  position: absolute;
}

.service__slider .slider__item:hover::after {
  height: 100%;
}

.service__slider .slider__item i {
  color: #888888;
  font-size: 4rem;
}

.service__slider .slider__item p {
  font-size: 1.4rem;
}

.service__content .slick-dots {
  bottom: -40px;
}

.service__content .slick-dots li button::before {
  color: white;
  font-size: 1.4rem;
}
.service__content .slick-dots li.slick-active button:before {
  color: #e62b4a;
}
/* end service */

/* start showcase */
.showcase__tilte {
  padding: 70px 0;
  text-align: center;
}

.showcase__tilte p:first-child {
  color: #888888;
}

.showcase__list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.showcase__margin {
  width: 33.33%;
}

.showcase__list .showcase__item {
  background-color: #af2239;
  margin: 10px;
  height: 380px;
  position: relative;
}

.showcase__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(50%);
}

.showcase__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e62b4a99;
  opacity: 0;
  transition: 0.3s;
}

.showcase__item:hover .showcase__overlay {
  opacity: 1;
}

.showcase__item:hover .showcase__icon,
.showcase__item:hover .showcase__text {
  transform: translateY(0);
}

.showcase__text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

.showcase__text p {
  color: #d0c7c8;
}

.showcase__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
}

.showcase__icon i {
  font-size: 1.6rem;
  padding: 12px;
  color: black;
  transition: 0.5s;
}

.showcase__icon i:hover {
  background-color: black;
  color: white;
}

.showcase__text,
.showcase__icon {
  transform: translateY(20px);
  transition: 0.3s;
}
/* end showcase */

/* strt log */
.log {
  margin: 50px 0;
}

.log__title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.log__content {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.log__item img {
  height: 100%;
  width: 100%;
  filter: grayscale(30%) contrast(50%);
  transition: 0.3s;
}

.log__item img:hover {
  filter: grayscale(0%) contrast(100%);
}

.content__item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.content__item10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/* end log */

/* start number */
.number {
  background-color: black;
}

.number__content {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
}
.number__content__item {
  width: 25%;
  text-align: center;
  padding: 40px 0;
}

.number__content__item p:first-of-type {
  font-size: 6rem;
  font-weight: 300;
}

.number__content__item p:last-of-type {
  font-size: 2rem;
  color: #888888;
}
/* end number */

/* start experience */

.experience {
  background-image: url(../image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 0;
}
.experience__title,
.experience__content {
  width: 80%;
  margin: 30px auto 0;
  text-align: center;
}

.experience__content video {
  width: 100%;
}

.experience__title h2 {
  color: white;
}
/* end experience */
